body{
   
    
    align-items: center;
    margin-left: 20px;
    justify-content: space-evenly;
    display: flex;
    display: inline;
    justify-content: center;
}
.parent{
    display:  flex;
justify-content: space-evenly;
justify-items: center;
justify-content: space-around;
margin-top: 90px;

}
img{
   box-sizing: border-box;
   border-radius: 450px ;
   border: 10px solid palevioletred;
   height: 200px; width: 200px;
 

}
h1{
    color: blue;
    font-size: 40px;
    padding-left: 40px;
  
    
}
h2{
     color: rgb(52, 52, 111);
    font-size: 25px;
    padding-left: 30px;
    
}
a{
  
   margin-left: 15px;
    padding: 6px;
    background-color:skyblue;
   border-radius: 150px;
    border: 2px solid black;
    }
    